body {
  font-family: 'Nunito', sans-serif;
  background-color: #fff8dc;
}

.nav-link:hover {
  color: #d4af37 !important;
}
.navbar-brand, 
footer, 
.card-title,
.textdomu,
.textikdomu {
  color: #fff8dc;
}
.btn {
  background-color: #fff8dc !important; 
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button::after {
  filter: invert(100%);
}
.placeholder-light::placeholder {
  color: #fff8dc; 
  opacity: 0.5;
}
.hero {
  background-image: url(images/ddd.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  background-color: black;
}
.textdomu{
  text-shadow: black;
  font-size: 50px;
  font-weight: 700;
}
.textikdomu {
  text-shadow: black;
  font-size: 18px;
}
.foto img {
  height: 120px;
  width: 120px;
}
@media (max-width: 1200px) {
  .lh-base p {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }
  .onas p {
    font-size: 20px;
  }
}

@media (max-width: 993px) {
  .hero {
    height: 400px;
  }
  .textdomu{
    font-size: 30px;
  }
  .d-flex.flex-wrap-nowwrap {
    flex-direction: column;
  }

  p {
    font-size: 15px;
  }

  .lh-base p {
    padding-top: 15px;
    font-size: 17px;
  }

  #carouselExample {
    max-width: 88%;
    margin: 0 auto;
  }
  .card-title {
    font-size: 25px;
  }
  .card-text {
    font-size: 19px;
  }
  .card-footer {
    font-size: 19px;
  }
  .btn {
    font-size: 19px;
  }
  .accordion-button {
    font-size: 25px;
  }
  .accordion-collapse {
    font-size: 19px;
  } 
  .list-group-item {
    font-size: 19px;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 300px;
  } 
  .textdomu{
    font-size: 20px;
  }
  .stene {
    height: 35vh;    
  }
  .stenefoto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}